.logo{
  filter: brightness(0) invert(1);
  height: 60px;
  width: 140px;
  margin: 45px 0 10px 19px ;
}

*{
  font-family: sans-serif;
}

body{
  font-family: sans-serif;
  font-weight: 400;
}

.parent{
  display: flex;
  
  margin-left: -8px;
  margin-top: -8px;
  
}

.master{
  margin-top: 100px;
  margin-left: 12px;
  color: azure;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;

}

.setting{
  color: azure; 
  margin-left: 12px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.passfont{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.horizontal{
  float: left;
}

.horizontal  *{
  display: inline-block;
  margin-left: 30px;
} 

.vertical {
  float: left;
  height: 635px;
  width: 182px;
  background-color: rgb(28, 78, 28);

}

.vertical  > *{
  display :block;
} 

.horizontal2{
  float: left;
}

.horizontal2  *{
  display: inline-block;
} 


.horizontal3{
  margin-top: 20px;
  margin-left: 150px;
  vertical-align: middle;
}

.horizontal3  *{
  display: inline-block;
} 

.vertical3 {
  /* float: left; */
  display: block;
  
}

.vertical3  > *{
  display :block;
} 


.vertical2 {
  float: left;
  display: block;

}

.vertical2  > *{
  display :block;
} 

.para{
  margin-top: 100px;
}

.btn{
  /* margin-left: 25px; */
  margin-top: 410px;
  margin-left: 15px; 
}

.botom{
  color: azure;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 12px;
  margin-left: 28px;
  margin-top: 22px;
}


.goodeve{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 22px;
  margin-left: -200px;
}

.dave{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: blueviolet;
  margin-left: 7px;
}


.daveimg{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* margin-top: 25px; */
}

.time{
  margin-left: -200px;
  margin-top: -15px;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

.chanpass{
  margin-left: -200px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 22px;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container section.ls {
  width: 30%;
}

.container section.md {
  width: 40%;
  display: flex;
  flex-direction: column;
  
}

.form{
  margin-left: -200px;
  margin-top: 33px;
}

.label{
  font-size: 13px;
  color: gray;
}

.validdiv{
  margin-bottom: -14px;
}

.form-control::placeholder{
  font-size: 18px;
  opacity: 0.75;
  text-indent: 15px;
  /* word-spacing: 10em;
  line-height: 150px; */
}

.form-control {
  padding-top: 7px;
  font-size: 15px;
  font-family:"FontAwesome" 
  }



